src/main/resources/META-INF/mule-magento.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesoft.org/schema/mule/magento"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesoft.org/schema/mule/core"
            xmlns:schemadoc="http://www.mulesoft.org/schema/mule/schemadoc"
            targetNamespace="http://www.mulesoft.org/schema/mule/magento"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"/>
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/core"
                schemaLocation="http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd"/>
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/schemadoc"
                schemaLocation="http://www.mulesoft.org/schema/mule/schemadoc/3.1/mule-schemadoc.xsd"/>

    <xsd:annotation>
        <xsd:documentation>
        </xsd:documentation>
    </xsd:annotation>

    <xsd:element name="config" type="magentoConfigurationType" substitutionGroup="mule:abstract-extension">
        <xsd:annotation>
            <xsd:documentation>
                The config element allows you to set the username, password and address for the
                connection to magento.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="magentoConfigurationType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractExtensionType">
                <xsd:attribute name="name" type="mule:substitutableName" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            Identifies the connector so that other elements can reference it.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="username" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            Login username.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="password" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            Login password associated with the specified username.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="address" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            Location of the Magento server
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
 
    <xsd:element name="sales-orders-list" type="magentoFiltersMethodType" substitutionGroup="mule:abstract-message-processor">
        <xsd:annotation>
            <xsd:documentation>
                List Magento Sales Orders
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    
    <xsd:complexType name="magentoApiAbstractType" abstract="true">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractInterceptingMessageProcessorType">
                <xsd:attribute name="config-ref" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation>
							The name of the config element for magento.
	                    </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>               
			</xsd:extension>
		</xsd:complexContent>    
    </xsd:complexType>
    
    <xsd:complexType name="magentoFiltersMethodType">
        <xsd:complexContent>
            <xsd:extension base="magentoApiAbstractType">
                <xsd:sequence>
                    <xsd:element name="filters" type="filtersType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>
                                Magento filters list (can include simple and complex filters)
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
    </xsd:complexType>

	<xsd:complexType name="filtersType">
		<xsd:sequence>
			<xsd:element name="filter" type="mule:keyValueType"
				minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						Magento simple filter (key-value pair)
	                </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="complex-filter" type="complexFilterType"
				minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						Magento complex filter
	                </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
    </xsd:complexType>
    
	<xsd:complexType name="complexFilterType">
		<xsd:sequence>
			<xsd:element name="filter" type="mule:keyValueType"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						Magento simple filter (key-value pair)
			        </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="key" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>
					The key of the complex filter
			    </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
    </xsd:complexType>

    <xsd:element name="sales-order-info" type="salesOrderInfoType" substitutionGroup="mule:abstract-message-processor">
        <xsd:annotation>
            <xsd:documentation>
                Retrieves information about Magento Sales Order
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="sales-order-hold" type="salesOrderInfoType" substitutionGroup="mule:abstract-message-processor">
        <xsd:annotation>
            <xsd:documentation>
                Puts order on hold
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="sales-order-unhold" type="salesOrderInfoType" substitutionGroup="mule:abstract-message-processor">
        <xsd:annotation>
            <xsd:documentation>
                Releases order
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="sales-order-cancel" type="salesOrderInfoType" substitutionGroup="mule:abstract-message-processor">
        <xsd:annotation>
            <xsd:documentation>
                Cancels order
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

	<xsd:complexType name="salesOrderInfoType">
		<xsd:complexContent>
			<xsd:extension base="magentoApiAbstractType">
				<xsd:attribute name="orderIncrementId" type="xsd:string" use="required">
					<xsd:annotation>
						<xsd:documentation>
							The ID of the order that should be returned by
							the call.
	                    </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
    
    <xsd:element name="sales-order-comment" type="salesOrderCommentType" substitutionGroup="mule:abstract-message-processor">
        <xsd:annotation>
            <xsd:documentation>
                Add new comment to the order
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

	<xsd:complexType name="salesOrderCommentType">
		<xsd:complexContent>
			<xsd:extension base="salesOrderInfoType">
				<xsd:attribute name="status" type="xsd:string" use="required">
					<xsd:annotation>
						<xsd:documentation>
							The status of the order.
	                    </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="comment" type="xsd:string" use="optional" default="">
					<xsd:annotation>
						<xsd:documentation>
							The comment to add.
	                    </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="notify" type="xsd:boolean" use="optional" default="false">
					<xsd:annotation>
						<xsd:documentation>
							Notify customer
	                    </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>				
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

    <xsd:element name="sales-order-shipments-list" type="magentoFiltersMethodType" substitutionGroup="mule:abstract-message-processor">
        <xsd:annotation>
            <xsd:documentation>
                List Magento Order Shipments
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="sales-order-shipment-info" type="salesOrderShipmentType" substitutionGroup="mule:abstract-message-processor">
        <xsd:annotation>
            <xsd:documentation>
                Retrieves information about Magento Sales Order Shipment
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

	<xsd:complexType name="salesOrderShipmentType">
		<xsd:complexContent>
			<xsd:extension base="magentoApiAbstractType">
				<xsd:attribute name="shipmentIncrementId" type="xsd:string" use="required">
					<xsd:annotation>
						<xsd:documentation>
							The ID of the order that should be returned by
							the call.
	                    </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:element name="sales-order-shipment-comment" type="salesOrderShipmentCommentType" substitutionGroup="mule:abstract-message-processor">
        <xsd:annotation>
            <xsd:documentation>
                Add new comment to the shipment
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    
	<xsd:complexType name="salesOrderShipmentCommentType">
		<xsd:complexContent>
			<xsd:extension base="salesOrderShipmentType">
				<xsd:attribute name="comment" type="xsd:string" use="required">
					<xsd:annotation>
						<xsd:documentation>
							The comment to add.
	                    </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>

				<xsd:attribute name="email" type="xsd:boolean" use="optional" default="false">
					<xsd:annotation>
						<xsd:documentation>
							Notify customer
	                    </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>				
				
				<xsd:attribute name="includeInEmail" type="xsd:boolean"  use="optional" default="false">
					<xsd:annotation>
						<xsd:documentation>
							Include comment in email
	                    </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>				
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
    <xsd:element name="sales-order-shipment-get-carriers" type="salesOrderInfoType" substitutionGroup="mule:abstract-message-processor">
        <xsd:annotation>
            <xsd:documentation>
                Returns list of carriers for the order
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
	
    <xsd:element name="sales-order-shipment-add-track" type="salesOrderShipmentAddTrackType" substitutionGroup="mule:abstract-message-processor">
        <xsd:annotation>
            <xsd:documentation>
                Adds tracking number to the shipment
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

	<xsd:complexType name="salesOrderShipmentAddTrackType">
		<xsd:complexContent>
			<xsd:extension base="salesOrderShipmentType">
				<xsd:attribute name="carrier" type="xsd:string" use="required">
					<xsd:annotation>
						<xsd:documentation>
							Carrier code
	                    </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>

				<xsd:attribute name="title" type="xsd:string" use="required">
					<xsd:annotation>
						<xsd:documentation>
							Tracking title
	                    </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>				
				
				<xsd:attribute name="trackNumber" type="xsd:string" use="required">
					<xsd:annotation>
						<xsd:documentation>
							Tracking number
	                    </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>				
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
    <xsd:element name="sales-order-shipment-remove-track" type="salesOrderShipmentRemoveTrackType" substitutionGroup="mule:abstract-message-processor">
        <xsd:annotation>
            <xsd:documentation>
                Remove the tracking number from the shipment
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

	<xsd:complexType name="salesOrderShipmentRemoveTrackType">
		<xsd:complexContent>
			<xsd:extension base="salesOrderShipmentType">
				<xsd:attribute name="trackId" type="xsd:int" use="required">
					<xsd:annotation>
						<xsd:documentation>
							Track ID
	                    </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>	

    <xsd:element name="sales-order-shipment-create" type="salesOrderCreateType" substitutionGroup="mule:abstract-message-processor">
        <xsd:annotation>
            <xsd:documentation>
                Creates new shipment for the order
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    
	<xsd:complexType name="salesOrderCreateType">
		<xsd:complexContent>
			<xsd:extension base="salesOrderInfoType">
				<xsd:attribute name="itemsQty" type="xsd:string" use="required">
					<xsd:annotation>
						<xsd:documentation>
							The array of OrderItemIdQty objects. It should be sent as a part of the message (payload or one of message properties) and evaluator can be used to set the attribute:
							e.g. #[payload:Magento.OrderItemIdQty[]]
	                    </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				
				<xsd:attribute name="comment" type="xsd:string" use="optional" default="">
					<xsd:annotation>
						<xsd:documentation>
							The comment to add.
	                    </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>

				<xsd:attribute name="email" type="xsd:boolean" use="optional" default="false">
					<xsd:annotation>
						<xsd:documentation>
							Notify customer
	                    </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>				
				
				<xsd:attribute name="includeInEmail" type="xsd:boolean"  use="optional" default="false">
					<xsd:annotation>
						<xsd:documentation>
							Include comment in email
	                    </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>				
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:element name="sales-order-invoices-list" type="magentoFiltersMethodType" substitutionGroup="mule:abstract-message-processor">
        <xsd:annotation>
            <xsd:documentation>
                List Magento Invoices
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
	
	<xsd:complexType name="salesOrderInvoiceType">
		<xsd:complexContent>
			<xsd:extension base="magentoApiAbstractType">
				<xsd:attribute name="invoiceIncrementId" type="xsd:string" use="required">
					<xsd:annotation>
						<xsd:documentation>
							The ID of the sales order invoice that should be returned by
							the call.
	                    </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:element name="sales-order-invoice-info" type="salesOrderInvoiceType" substitutionGroup="mule:abstract-message-processor">
        <xsd:annotation>
            <xsd:documentation>
                Retrieves information about Magento Sales Order Invoice
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    
	<xsd:element name="sales-order-invoice-create" type="salesOrderCreateType" substitutionGroup="mule:abstract-message-processor">
        <xsd:annotation>
            <xsd:documentation>
                Creates new invoice for the order
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

	<xsd:complexType name="salesOrderInvoiceCommentType">
		<xsd:complexContent>
			<xsd:extension base="salesOrderInvoiceType">
				<xsd:attribute name="comment" type="xsd:string" use="required">
					<xsd:annotation>
						<xsd:documentation>
							The comment to add.
	                    </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>

				<xsd:attribute name="email" type="xsd:boolean" use="optional" default="false">
					<xsd:annotation>
						<xsd:documentation>
							Notify customer
	                    </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>				
				
				<xsd:attribute name="includeInEmail" type="xsd:boolean"  use="optional" default="false">
					<xsd:annotation>
						<xsd:documentation>
							Include comment in email
	                    </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>				
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:element name="sales-order-invoice-comment" type="salesOrderInvoiceCommentType" substitutionGroup="mule:abstract-message-processor">
        <xsd:annotation>
            <xsd:documentation>
                Add new comment to the invoice
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    
    <xsd:element name="sales-order-invoice-capture" type="salesOrderInvoiceType" substitutionGroup="mule:abstract-message-processor">
        <xsd:annotation>
            <xsd:documentation>
                Capture invoice.
                You should check the invoice to see if can be captured before attempting to capture an invoice, 
                otherwise the API call with generate an error.

				Invoices have states as defined in the model Mage_Sales_Model_Order_Invoice:

				STATE_OPEN = 1
				STATE_PAID = 2
				STATE_CANCELED = 3
				
				Also note there is a method call in the model that checks this for you canCapture(), and it also 
				verifies that the payment is able to be captured, so the invoice state might not be the only condition 
				that’s required to allow it to be captured.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    
	<xsd:element name="sales-order-invoice-void" type="salesOrderInvoiceType" substitutionGroup="mule:abstract-message-processor">
        <xsd:annotation>
            <xsd:documentation>
                Voids the invoice
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

	<xsd:element name="sales-order-invoice-cancel" type="salesOrderInvoiceType" substitutionGroup="mule:abstract-message-processor">
        <xsd:annotation>
            <xsd:documentation>
                Cancels the invoice
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

</xsd:schema>
